<div class="container">
	<h3><%= @still.title %></h3>
	<pre><%= @still.text %></pre>

	<% if current_user == @still.user %>
		<%= link_to "Edit Title", edit_user_still_path(@still) %> |
		<%= link_to "Delete", user_still_path(@still),
		method: :delete, data: {confirm: 'Are You Sure'} %> |
		<%= link_to "Edit Text",
		edit_user_still_path(current_user, @still) %>
	<% end %>
	| <%= link_to "Email It To Me", email_user_still_path(@user, @still) %>

	<%= form_for [@user, @still, @comment] do |f| %>
		<%= f.text_area :body %>
		<%= f.submit %>
	<% end %>

	<% @comments.each do |comment| %>
		<h4><%= comment.user.first_name %></h4>
		<p><%= comment.body %></p>

		<% if current_user == @still.user %>
			<%= link_to "Delete Comment", user_still_comment_path(@user, @still, comment),
				method: :delete, data: {confirm: 'Are You Sure'} %>
		<% end %>
	<% end %>
</div>
