<div class="container">
	<h3><%= @still.title %></h3>
	<pre><%= @still.slide.text %></pre>

	<% if current_user.id == @still.user.id %>
		<%= link_to "Edit Title", edit_user_still_path(@still) %> |
		<%= link_to "Delete", user_still_path(current_user, @still),
		method: :delete, data: {confirm: 'Are You Sure'} %> |
		<%= link_to "Edit Text",
		edit_user_still_slide_path(current_user, @still, @still.slide) %>
	<% end %>
</div>
