<div class="container">
	<h3><%= @still.title %></h3>
	<pre><%= @still.text %></pre>

	<% if current_user == @still.user %>
		<%= link_to "Edit Title", edit_user_still_path(@still) %> |
		<%= link_to "Delete", user_still_path(@still),
		method: :delete, data: {confirm: 'Are You Sure'} %> |
		<%= link_to "Edit Text",
		edit_user_still_path(current_user, @still) %>
	<% end %>
</div>
