<div class="container">

    <center>
      <h1 class="nameHeader">
        <%= @user.first_name %> <%= @user.last_name %>
      </h1>
    </center>

    <center>
      <button class="btn btn-primary">
        <%= link_to("LogOut", logout_path, method: "delete", :class=>"usrBtn") %>
      </button>

      <button class="btn btn-primary">
        <%= link_to("create still", new_user_still_path(current_user), :class=>"usrBtn") %>
      </button>

      <button class="btn btn-primary">
        <%= link_to("create animation", new_user_animation_path(current_user), :class=>"usrBtn") %>
      </button>
    </center>

    <% if current_user == @user %>
      <h1> Your Stills </h1>
    <% else %>
      <h1> <%= @user.first_name %>'s Stills </h1>
    <% end %>
    <% @stills.each do |still| %>
      <h3> <%= link_to still.title, user_still_path(@user, still) %> </h3>
      <pre><%= still.text %></pre>
    <% end %>

    <% if current_user == @user %>
      <h1> Your Animations </h1>
    <% else %>
      <h1> <%= @user.first_name %>'s Animations </h1>
    <% end %>
    <% @animations.each do |art| %>
      <h3>
        <%= link_to art.title, user_animations_path(@user, art) %>
      </h3>
      <pre id="show"><%= art.slides.all[0].text %></pre>
    <% end %>

</div>
