<div class="container">

    <center>
      <h1 class="nameHeader">
        <%= @user.first_name %> <%= @user.last_name %>
      </h1>
    </center>

    <center>
      <button class="btn btn-primary">
        <%= link_to("LogOut", logout_path, method: "delete", :class=>"usrBtn") %>
      </button>

      <button class="btn btn-primary">
        <%= link_to("create still", new_user_still_path(current_user), :class=>"usrBtn") %>
      </button>

      <button class="btn btn-primary">
        <%= link_to("create animation", new_user_animation_path(current_user), :class=>"usrBtn") %>
      </button>
    </center>

    <% @stills.each do |still| %>
      <h3> <%= link_to still.title, user_still_path(@user, still) %> </h3>
      <pre><%= still.slide.text %></pre>
    <% end %>

</div>
